<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hospedaje Las Dunas</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/stylesBedrooms.css">
</head>
<body>
<!--Navbar  -->
<nav class="navbar navbar-expand navbar-dark bg-dark navbar-custom">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../../assets/logo.png" alt="Logo" class="logo-img">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="../../index.html">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../bedrooms/bedrooms.html">Habitaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reservas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--Navbar  -->

<!-- Main -->
<main>
  <div class="content-container">
      <h3 class="titulo02">"Tipo de Habitaciones"</h3>
      <section class="experiencias-section">
        <div class="image-row">
          <img src="../../assets/matrimonial.jpg" alt="Foto del Hospedaje" >
          <img src="../../assets/matrimonial01.jpg" alt="Foto del Hospedaje" >
      </section>
      <h3 class="titulo03">S/45.00</h3>
      <section class="experiencias-section">
        <div class="image-row">
          <img src="../../assets/doble.jpg" alt="Foto del Hospedaje" >
          <img src="../../assets/doble01.jpg" alt="Foto del Hospedaje" >
      </section>
      <h3 class="titulo03">S/60.00</h3>
      <section class="experiencias-section">
        <div class="image-row">
          <img src="../../assets/personal.jpg" alt="Foto del Hospedaje" >
          <img src="../../assets/personal01.jpg" alt="Foto del Hospedaje" >
      </section>
      <h3 class="titulo03">S/35.00</h3>
    <!-- Footer -->
    <footer>
      <div class="footer-container">
        <div class="footer-info">
          <h3>Contacto</h3>
          <p>Dirección: Jr. Alfonso Ugarte N°:2263 - Tarapoto</p>
          <p>Teléfono: +51 34567890</p>
        </div>
        <div class="footer-links">
          <h3>Enlaces útiles</h3>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Habitaciones</a></li>
            <li><a href="#">Reservas</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <!-- Footer -->

  </div>
</main>
<!-- Main -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src=""></script>
</body>
</html>
